@import 'variables.scss';

@keyframes entete__entree {
    0% {
        font-size: .5em;
    }

    100% {
        font-size: 1em;
    }
}

@keyframes entete__sortie {
    0% {
        font-size: 1em;
    }

    100% {
        font-size: .5em;
    }
}

@keyframes fadeIn {
    0% {
        color: black;
    }

    20% {
        color: white;
    }

    100% {
        color: black;
    }
}
