@import 'variables.scss';

@keyframes entete__entree {
    0% {
        font-size: .5em;
    }

    100% {
        font-size: 1em;
    }
}

@keyframes entete__sortie {
    0% {
        font-size: 1em;
    }

    100% {
        font-size: .5em;
    }
}

@keyframes entete__entree__fond {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: map-get($map: $theme-boites, $key: fond);
    }
}

@keyframes entete__sortie__fond {
    0% {
        background-color: map-get($map: $theme-boites, $key: fond);
    }

    100% {
        background-color: transparent;
    }
}


@keyframes fadeIn {
    0% {
        color: black;
    }

    20% {
        color: white;
    }

    100% {
        color: black;
    }
}
