@import 'mixins.scss';
@import 'variables.scss';

* {
    font-family: 'Familjen Grotesk', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    @include taille-police($h1-tailles-police);
    font-weight: bolder;
}

h2 {
    @include taille-police ($h2-tailles-police);
    font-weight: bold;
}

h3 {
    @include taille-police ($h3-tailles-police);
    font-weight: bold;
}

h4 {
    @include taille-police ($h4-tailles-police);
    font-weight: normal;
}

p, a {
    @include taille-police ($p-tailles-police);
    font-weight: lighter;
}

li > a {
    @include taille-police ($icone-tailles);
}

