@mixin taille-police($tp-map) {
    @each $tp-changement, $tp-taille-police in $tp-map {
        @if $tp-changement == null {
            font-size: $tp-taille-police;
        }

        @else {
            @media screen and (min-width: $tp-changement) {
                font-size: $tp-taille-police;
            }
        }
    }
}

@mixin theme($theme) {
    h1 {
        color: map-get($map: $theme, $key: titre);
    }

    h2, h4 {
        color: map-get($map: $theme, $key: sous-titre);
    }

    h3 {
        @include texte-contour(map-get($map: $theme, $key: sous-titre));
    }

    p {
        color: map-get($map: $theme, $key: texte);
    }

    a {
        color: map-get($map: $theme, $key: lien);

        &:hover {
            color: map-get($map: $theme, $key: lien-hover);
        }
    }

    background-color: map-get($theme, fond);
}

@mixin texte-contour ($couleur) {
    color: transparent;
    -webkit-text-stroke: .015em $couleur;
}