$h1-tailles-police: (
    0px: 20px,
    360px: 48px,
    640px: 56px,
    1024px: 96px,
    1440px: 124px
);

$h2-tailles-police: (
    0px: 18px,
    360px: 36px,
    640px: 42px,
    1024px: 64px,
    1440px: 96px
);

$h3-tailles-police: (
    0px: 16px,
    360px: 28px,
    640px: 36px,
    1024px: 52px,
    1440px: 70px
);

$h4-tailles-police: (
    0px: 14px,
    360px: 20px,
    640px: 28px,
    1024px: 42px,
    1440px: 48px
);

$p-tailles-police: (
    0px: 12px,
    360px: 14px,
    640px: 20px,
    1024px: 28px,
    1440px: 32px
);

$theme-clair: (
    titre: rgb(255, 244, 180),
    sous-titre: rgb(255, 244, 180),
    texte: rgb(255, 255, 255),
    lien: rgb(25, 0, 255),
    lien-visite: rgb(124, 88, 255),
    fond: #242424
);

$theme-boites: (
    titre: rgb(26, 26, 26),
    sous-titre: rgb(25, 0, 255),
    texte: rgb(83, 83, 83),
    lien: rgb(25, 0, 255),
    lien-visite: rgb(173, 173, 173),
    fond:  rgb(255, 244, 180)
);
