$h1-tailles-police: (
    0px: 20px,
    360px: 36px,
    640px: 56px,
    1024px: 96px,
    1440px: 108px,
    2048px: 124px,
);

$h2-tailles-police: (
    0px: 18px,
    360px: 36px,
    640px: 42px,
    1024px: 84px,
    1440px: 108px,
    2048px: 124px
);

$h3-tailles-police: (
    0px: 16px,
    360px: 28px,
    640px: 36px,
    1024px: 72px,
    1440px: 84px,
    2048px: 96px
);

$h4-tailles-police: (
    0px: 14px,
    360px: 20px,
    640px: 28px,
    1024px: 42px,
    1440px: 48px,
    2048px: 56px
);

$p-tailles-police: (
    0px: 10px,
    360px: 12px,
    640px: 18px,
    1024px: 22px,
    1440px: 26px,
    2048px: 32px
);

$icone-tailles: (
    0px: 12px,
    360px: 20px,
    640px: 24px,
    1024px: 48px,
    1440px: 64px
);

$theme-clair: (
    titre: rgb(255, 244, 180),
    sous-titre: rgb(255, 244, 180),
    texte: rgb(255, 255, 255),
    lien: rgb(25, 0, 255),
    lien-visite: rgb(124, 88, 255),
    lien-hover: rgb(255, 255, 255),
    fond: rgb(25, 0, 255)
);

$theme-boites: (
    titre: rgb(25, 0, 255),
    sous-titre: rgb(25, 0, 255),
    texte: rgb(83, 83, 83),
    lien: rgb(25, 0, 255),
    lien-visite: rgb(173, 173, 173),
    lien-hover: #fff,
    fond:  rgb(255, 244, 180)
);
