.Accueil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;

    &__fond {
        min-height: 100vh;
    }

    &__infos {
        position: absolute;
        bottom: 0;
        margin: .5em;
    }

    &__couleur-fond {
        width: 100vw;
        height: 100vh;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        background-color: blue;
        z-index: 1;
    }

    @media screen and (min-width: 1024px) {
        
    }
}