@import '../sass/animations.scss';
@import '../sass/mixins.scss';
@import '../sass/variables.scss';

.EnTete {
    @include taille-police($h1-tailles-police);

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    padding: .25em;
    box-sizing: border-box;

    z-index: 2;

    border-bottom: 2px solid map-get($theme-clair, titre);

    .Liens {
        @include taille-police($p-tailles-police);
    }
}

.entete__entree {
    h1 {
        animation: entete__entree .1s linear forwards, fadeIn .5s;
    }
}

.entete__sortie {
    h1 {
        animation: entete__sortie .1s linear forwards, fadeIn .5s;
    }
}