@import '../sass/animations.scss';
@import '../sass/mixins.scss';
@import '../sass/variables.scss';

.EnTete {
    @include taille-police($h1-tailles-police);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 20vh;
    padding: .25em;
    box-sizing: border-box;

    z-index: 2;

    border-bottom: 2px solid map-get($theme-clair, titre);

    .Liens {
        @include taille-police($p-tailles-police);
        height: 100%;
        padding: .5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }

        .Lien {
            border: .5vw solid transparent;

            a {
                &:hover {
                    border: .5vw solid map-get($map: $theme-clair, $key: fond);
                }
            }

            @media screen and (min-width: 1024px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        width: 20vw;
        height: 100vh;

        flex-direction: column;
        align-items: spa;

        &__nom {
            writing-mode: vertical-lr;
            text-orientation: upright;
            line-height: .5em;
            letter-spacing: -.2em;
        }
    }
}

.entete__entree {
    h1 {
        animation: entete__entree .1s linear forwards, fadeIn .1s;
        @include texte-contour(map-get($theme-boites, titre));
    }

    animation: entete__entree__fond .2s ease-in-out forwards;
}

.entete__sortie {
    justify-content: center;
    h1 {
        animation: entete__sortie .1s linear forwards, fadeIn .1s;
    }

    height: unset;

    animation: entete__sortie__fond .2s ease-in-out forwards;

    @media screen and (min-width: 1024px) {
        justify-content: flex-start;
    }
}