@import '../sass/variables.scss';

.Projets {
    z-index: 1;

    &__liste {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}