@import '../sass/variables.scss';

.Projets {
    position: fixed;

    &__liste {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            display: inline-flex;
        }
    }

    @media screen and (min-width: 1024px) {
        top: unset;
        right: 0;
    }
}