@import 'sass/mixins.scss';
@import 'sass/variables.scss';

.App {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 400vh;

    @media screen and (min-width: 1024px) {
        overflow-x: unset;
    }
}