@import 'sass/mixins.scss';
@import 'sass/variables.scss';

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;

  @include theme($theme-clair);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


